/* Variables */
:root {
  --max-width-size: 1920px;
  --white: #ffffff;
  --black: #000000;
  --coral: #ff6f61;
  --gray: #f0f0f0;
  --lightgreen: #90ee90;
  --light-sky-blue: #87ceeb;
  --lightpink: #ffb6c1;
}
